# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Env
.env
.env.local
.env.*.local

# Playwright
test-results/
playwright-report/
blob-report/
trace.zip

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
